body{background-color: #f3f3f3;}
.data-consult{ padding: 0.71rem;  background: #fff;  margin-bottom: 0.71rem; }
.product-title{ font-size: 1.07rem; color: #333;  padding-left: 0.36rem;  border-left: 0.28rem solid #ff8c00;  height: 1.28rem;  line-height: 1.28rem;  margin: 0.71rem 0; }
.data-consult p.summary{ font-size: 0.93rem;  color: #333;  line-height: 1.78rem; }
.type-box .type-one{  width: 33%;  text-align: center;  float: left;  height: 5rem;  margin-top: 0.71rem; }
.type-one .icon{font-size: 1.5rem;color: #c3c3c3; margin: 0.5rem 0;}
.type-one p{ font-size: 0.93rem;  color: #333; }
.type-box .type-line{ width: 1px;  float: left;  height: 1.78rem;  background-color: #e3e3e3; margin-top: 1.78rem;}
.type-one .icon-xdn-ziping{font-size: 1.2rem;}
.type-one .icon-xdn-celue {font-size: 1.7rem;}
.type-one .icon-xdn-xiaoguo{font-size: 1.1rem;}
.type-one .icon-xdn-youxuan{font-size: 1.7rem;}
.type-one .icon-xdn-baozhuang{font-size: 1.3rem;}
.type-one .icon-xdn-shangcheng{font-size: 1.3rem;}
.type-one .icon-xdn-fenxi {font-size: 1.2rem;}
.type-one .icon-xdn-yuanchuang {font-size: 1.7rem;}
.type-one .icon-xdn-shaixuan {font-size: 1.4rem;}
.type-one .icon-xdn-banquan {font-size: 1.55rem;}
























