body {background-color: #f3f3f3;}
.page-body {width: 100%;}
.page-left { float: left; width: 100%;  padding: 0; }
.top-banner{position: relative; }
.banner-top-img{ width: 100%;  height: 10rem;  position: relative;  background-size: cover;  background-repeat: no-repeat; }
.banner-left-mask{width: 100%;  height: 10rem;  position: absolute;  left: 0;  top: 0;  background-color: #000;  opacity: 0.5;  filter: alpha(opacity=50); }
.banner-left { position: absolute;width: 100%;  height: 10rem;line-height:10rem;background-size: cover; color: #fff; margin: 0; padding: 0; }
.page-right { display: none; }
.banner-left p.l-title {font-size: 1.43rem; width: 90%;  margin: auto;  text-align: center; text-overflow: ellipsis;  overflow: hidden; white-space: nowrap;}
.top-banner .l-summary{font-size: 0.93rem; color:#333;  background-color: #fff;  padding: 0.71rem;  line-height: 1.57rem;  }
.hot-one { border-bottom: 1px solid #e3e3e3; padding: 0.71rem 0;}
.hot-one-last{ border: none;}
.bottom-group { margin-top: 0.71rem;}
.projects-group {position: relative; }
.group-left{ height: 1.57rem; line-height: 1.57rem;}
.group-left-spe{display: none;}
.group-left span.group-name {font-size: 1.29rem;color: #333; padding-left:0.36rem; width: 90%;  display: inline-block;  overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; border-left: 0.28rem solid #ff8c00;}
.projects-group .section-one{margin-bottom: 0.71rem;  padding: 0.71rem;  background: #fff;  }
.projects-group .section-one-spe { margin-bottom: 0; padding: 0 0.71rem; background: #fff; }
.hot-one .left-hot-img { width: 32.4%;height: 5.36rem; float: left; }
.hot-one .left-hot-img img { width: 100%;  height: 100%; }
.hot-one .right-hot-info { margin-left: 0.71rem;width: 64%;  float: left;  }
.group-list-spe { width: 100%!important;  }
.right-hot-info .h-title {font-size: 1.07rem;color: #333;  width: 100%;  margin-top: -0.28rem;  height: 3.29rem;  line-height: 1.64rem;}
.right-hot-info .h-bottom {margin-top: 1.43rem; color: #999;}
.h-bottom .account-div {font-size: 0.71rem; float: left; }
.h-bottom .h-time { font-size:  0.71rem;float: right;}
















































